{
                "mysqlUsername": "USERNAME",
                "mysqlPassword": "PASSWORD",
                "mysqlDatabase": "DATABASE",
                "mpdPassword" : "PASSWORD",
                "icecastPassword" : "PASSWORD",
                "ipinfoApiKey" : "API_KEY"
}
