 <?php
        $mysqlHost = 'localhost';
        $mysqlUser = 'USERNAME';
        $mysqlPassword = 'PASSWORD';
        $mysqlDatabase = 'DATABASE';
        $mpdPassword = 'MPD_PASSWORD';
        $adminPass = 'WEB_ADMIN_PASS';

        $localIcecastHost = '127.0.0.1';
        $localIcecastPort = 8000;

        $musicPath = "/path/to/mpd's/music/folder/";

